@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --sdcn-blue: #8ebeca;
    --sdcn-black: #414042;
}

::-moz-selection {
    color: #ffffff;
    background: #000000;
  }
::selection {
    color: #ffffff;
    background: #000000;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--sdcn-blue);
    font-weight: 700;
}

.content-main ul li {
    list-style-type: disc;
}

.headerinfo {
    text-align: center;
    background-color: #dcebef;
}
.headerinfo p {
    margin-bottom: 0;
    padding: 1rem 0;
}

.navbg, .content-main {
    background-color: #ffffff;
}

.header {
    background-color: var(--sdcn-blue);
}

.header .primary li a {
    color: #082e54;
}

.svg-logo {
    width: 7rem;
    margin-bottom: 1rem;;
}

.nav-link {
    color: #082e54;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

/* sdcn-home-banner - for just home page */
body.HomePage .silverstripe__elementalbannerblock__block__bannerblock {
    height: 60vh;
}
body.HomePage .silverstripe__elementalbannerblock__block__bannerblock .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

/* Banner for all pages */
.sdcn-banner {
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sdcn-banner h1 {
    color: #ffffff;
}

/* Forms */
input:invalid {
    box-shadow: none;
}
body.HomePage .banner-element__call-to-action,
input[type="submit"]:hover, .Actions .action:hover,
.sdcn-form input[type="submit"] {
    background: var(--sdcn-black);
    border-radius: 2rem;
}

.sdcn-form .requiredField.error {
    border-color: #e80000;
}
.sdcn-form form .error {
    background-color: transparent;
    border-color: transparent;
}
.sdcn-form form .message {
    padding: 5px 20px;
}
input[type="submit"], .Actions .action {
    font-size: 1rem;
}

/* Only for subscribe form on home */
body.HomePage h2 {
    text-align: center;
}
body.HomePage .userform {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body.HomePage .userform .left {
    display: none;
}
body.HomePage div.field.form-step {
    display: flex;
    flex-direction: column;
}
body.HomePage form input.text {
    padding: 0.7rem 1.8rem;
    font-size: 1.1rem;
    border-radius: 3rem;
    max-width: 700px;
}
body.HomePage .Actions .action {
    padding: 0.7rem 1.8rem;
}
footer, body {
    background-color: #414042;
}
footer, footer a {
    color: #ffffff;
}
footer a {
    transition: 0.3s;
}
footer a:hover {
    color: #b3b3b3;
}
ul.footer-nav {
    border-top: .1rem solid #e1e1e3;
    padding-top: 0.8rem;
}
.footer-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.footer-logos img.dcc-logo {
    width: 270px;
}
.footer-logos img.cogs-logo {
    width: 140px;
    height: 67.78px;
    margin: 50px 0;
}
footer .footer-logos img.lotto-nz-logo {
    width: 200px;
}

@media (min-width: 768px) {
    ul.footer-nav {
        border-top: none;
        padding-top: 0;
    }
    body.HomePage .btn-toolbar {
        display: block;
        margin-top: 12px;
    }
    body.HomePage .form-step div.field {
        margin: 10px 3% 15px 0;
    }
    body.HomePage .userform {
        justify-content: center;
    }
    .footer-logos, body.HomePage .userform, body.HomePage div.field.form-step {
        flex-direction: row;
    }
    .footer-logos img.cogs-logo {
        margin: 0 50px 0 0;
    }
}
