@import "~bootstrap/scss/bootstrap";

:root {
    --sdcn-blue: #8ebeca;
}

::-moz-selection {
    color: #ffffff;
    background: #000000;
  }
::selection {
    color: #ffffff;
    background: #000000;
}

.headerinfo {
    text-align: center;
    background-color: #dcebef;
}
.headerinfo p {
    margin-bottom: 0;
    padding: 1rem 0;
}

.navbg, .content-main {
    background-color: #ffffff;
}

.header {
    background-color: var(--sdcn-blue);
}

.header .primary li a {
    color: #082e54;
}

.svg-logo {
    width: 7rem;
    margin-bottom: 1rem;;
}

.nav-link {
    color: #082e54;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.silverstripe__elementalbannerblock__block__bannerblock.sdcn-home-banner {
    height: 60vh;
}

.sdcn-banner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer, body {
    background-color: #414042;
}
footer, footer a {
    color: #ffffff;
}
footer a {
    transition: 0.3s;
}

footer a:hover {
    color: #b3b3b3;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.footer-logos img.dcc-logo {
    width: 270px;
}
.footer-logos img.cogs-logo {
    width: 140px;
    height: 67.78px;
    margin: 50px 0;
}
footer .footer-logos img.lotto-nz-logo {
    width: 200px;
}

@media (min-width: 700px) {
    .footer-logos {
        display: flex;
        flex-direction: row;
    }
    .footer-logos img.cogs-logo {
        margin: 0 50px 0 0;
    }
}
@media (max-width: 767px) {
    ul.footer-nav {
        border-top: .1rem solid #e1e1e3;
        padding-top: 0.8rem;
    }
}