@import "~bootstrap/scss/bootstrap";

:root {
    --sdcn-blue: #8ebeca;
}

.header, .navbg {
    background-color: var(--sdcn-blue);
}

.header .primary li a {
    color: #082e54;
}

.svg-logo {
    width: 7rem;
    margin-bottom: 1rem;;
}

.nav-link {
    color: #ffffff;
}